<h1>Create Account</h1>
<br>
<form action="/addacct" method="POST">
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="password" name="password" placeholder="Password (8+ Characters)">
    <br>
    <input type="submit" value="Submit">
</form>